:root{
    /* colores */
    --verde: #1D957F;
    --azul: #4285F4;
    --gris: #616161;
    --negro: #000;
    --blancoHueso: #FAFBFD;
    --blanco: #ffffff;

    /* -- FUENTE -- */
    --fuentePrincipal: 'Rubik', sans-serif;
    --fuente: 'Raleway', sans-serif;

    /* TAMAÑO */
    --f_bigest:44px;
    --f_big:36px;
    --f_normal: 16px;
    --f_small:12px;
    --f_smaller: 11px;
    --f_smallest:9px;




    /* Separacion de lineas */
    --lineaParrafo: 16.62px;
    --lineaBigTitles: 55.44px;
    --lineaMedTitles: 42.66px;
    --lineaTitles: 22.16px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    background-color: var(--blanco);
    max-width: 115.2rem;
    margin: 0 auto;
    position: relative;
}
/* UTILIDADES */
.enlace{
    text-transform: uppercase;
    text-decoration: none;
}
.contenedor{
    max-width: 100rem;
}
.centrar{
    margin: 0 auto;
}
.centrar_texto{
    text-align: center;
}
.end{
    margin-top: auto;
}

/* Barra de navegacion */
.header{
    max-width: 1152px;
    max-width: 80rem;
}
.contenedor_menu_mobile{
    display: none;
}

.barra_nav{
    max-width: 74rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.7rem;
    padding-right: 1rem;
    margin-left: 5.2rem;
}
.logo{
    height: 4rem;
    width: 14.3rem;
    background-size: cover;
    vertical-align: middle;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    transition: all 3s ease;
}
.menu li{
    margin-right: 3rem;
    list-style: none;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--f_small);
    color: var(--negro);
    letter-spacing: .2rem;
    font-weight: bold;
}
.menu ul:last-child{
    margin-right: 0;
}

.rectangulo{
    background-color: var(--verde);
    height: 70rem;
    width: 25%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 3rem 0 0 3rem;
    z-index: -1;
}
.menu_mobil{
    display: none;
}
.label_menu,
.input_menu{
        display: none;
}

@media (max-width: 768px ){
    .barra_nav{
        position: relative;
    }
    .menu{
        display: none;
    }
    .header{
        max-width: 100%;
        /* background-color: #4285F4; */
        margin: 0 auto;
    }
    .rectangulo{
        display: none;
    }
    .label_menu{
        display: block;
    }
    .label_menu:hover{
        cursor: pointer;
    }
    .input_menu:checked ~ .menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
        right: -38px;
        top: 24px;
        text-align: end;
        background-color: var(--verde);
        height: 30rem;
        padding-top: 2rem;
        padding-right: 2rem;
        /* transition: all 1s ease; */
    }
    .input_menu:checked ~ .menu a{
        color: var(--blanco);
        font-weight: normal;
    }
    /* .input_menu:checked ~ .rectangulo_tarjeta{
        display: block;
        position: absolute;
        right: -38px;
        top: 38px;
    } */

    .input_menu{
        display: none;
    }
    
    
}


/* -- CONTENEDOR DEL HEADER -- */

.contenedor_header{
    max-width: 1045px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    row-gap: 6rem;
    margin-top: 8.5rem;
    margin-right: 5.257rem;
    margin: 8.5rem 5.257rem 6.058rem 5rem ;
}
.contenido_header{
    margin: auto 2rem;
    max-width: 497px;
}
.imagen_header{
    max-width: 54.7rem;
    max-height: 39.4rem;
}
.imagen_header img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.titulo_grande{
    font-size: var(--f_bigest);
    margin-bottom: 0;
    line-height: var(--lineaBigTitles);
    margin: 0;
}
span{
    color: var(--verde);
}
.parrafo{
    margin: 1.1rem 0; 
    max-width: 37.5rem;
    line-height: var(--lineaParrafo);
    color: var(--gris);
    font-size: 12px;
}
@media (max-width: 768px ){
    .contenedor_header{
        grid: 40% 10% 50% / 1fr ;
        justify-items: center;
        gap: 4rem;
    }
    .contenedor_header.icono_play{
        grid-row: 2 / 3;
    }
    .imagen_header{
        grid-row: 3 / 4;
        max-width:37rem ;
        height: auto;
    }
    .contenido_header{
        display: block;
        text-align: center;
    }
    .contenido_header p{
        margin: 1rem auto;
    }
}

/* BOTON */
.boton{
    width: 14.4rem;
    height: 4rem;
    color: var(--blancoHueso);
    background-color: var(--verde);
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    font-family: var(--fuente);
    font-weight: bold;
    font-size: var(--f_smaller) ;
    letter-spacing: .2rem;
    /* padding: 2rem; */
}
.boton:hover{
    cursor: pointer;
}
.icono_play{
    display:  inline-flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
    color: var(--negro);
    letter-spacing: .2rem;
}

/* INFORMACION */

.seccion_informacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14.5rem 5rem ;
    padding: 2rem;
    align-items: center;
    position: relative;
    margin-bottom: 10rem;
}
.tarjeta{
    justify-self: center;
}
.rectangulo_tarjeta{
    height: 64rem;
    width: 36rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5rem 1.5rem;
    background-color: var(--blanco);
    border: 3px solid var(--verde);
    border-radius: 2rem;
    text-align: center;
}
.rectangulo_tarjeta h1{
    width: 100%;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
}
.rectangulo_tarjeta p{
    text-align: center;
    font-weight: normal;
    line-height: var(--lineaParrafo);
    color: var(--gris);
}
.contenedor_imagen{
    width: 26rem;
    height: 26rem;
    margin: 7.3rem auto 2.4rem;
    background-color: var(--blancoHueso);
    border-radius: 50%;
    background-image: url(../img/tarjeta_mujer.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    -webkit-box-shadow: 0px 13px 13px -8px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 13px 13px -8px rgba(0,0,0,0.23);
    box-shadow: 0px 13px 13px -8px rgba(0,0,0,0.23);
}
.slider_movil{
    margin-top: auto;
}
.fondo_tarjeta{
    width:27.6rem ;
    height: 44.6rem;
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 41px;
    background-image: url(../img/Group\ 22tarjeta\ informativa.png);
}
.informacion{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contendor_datos{
    width: 736px;
    height: 201px;
    display: grid;
    grid-column: 1 / 3;
    justify-self: center;
    position: relative;
}
.datos_informativos{
    max-width: 65.4rem;
    height: 11.7rem;
    border-radius: 1rem;
    background: no-repeat center url(../img/Group\ 20.svg);
}
.fondo_cuadros{
    position: absolute;
    max-width: 76.1rem;
    height: 20rem;
    background: no-repeat url(../img/cuadros.png);
    z-index: -1;
    top: -52px;
    right: -70px;
}
@media (max-width: 768px){
    .seccion_informacion{
        width: 90%;
        padding: 1rem;
        gap: 10rem 2rem ;
        margin-bottom: 0;
    }
    .fondo_tarjeta{
        top: 59px;
        left: -16px;
    }
    .tarjeta .rectangulo_tarjeta {
        justify-content: space-between;
        width: 95%;
        height: auto;
        padding: 1rem;
    }
    .rectangulo_tarjeta h1{
        font-size: 2.6rem;
    }
    .rectangulo_tarjeta p{
        font-size: 1.3rem;
        color: var(--gris);
    }
    .slider_movil{
        margin-top: 4rem;
    }
    .contenedor_imagen{
        width: 80%;
        height: 23rem;
        margin-top: 5rem;
    }
    .informacion h1{
        font-size: 3.6rem;
        font-weight: bold;
    }
    .datos_informativos{
        width: 100%;
        margin: auto;
        background-size: cover;
    }
    .fondo_cuadros{
        width: 95%;
        top: -9px;
        right: 4px;
        background: no-repeat center/95% url(../img/cuadros.png);
        background-size: contain;
        margin: auto;
    }
}
/* -- CARACTERISTICAS --  */
.caracteristicas{
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 2rem;
    align-items: center;
}
.informacion_caracteristicas{
    justify-self: start;
}
.informacion_caracteristicas h1{
    font-size: var(--f_bigest);
    font-weight: bold;
    line-height: var(--lineaBigTitles);
}
.informacion_caracteristicas p {
    color: var(--gris);
    font-size: var(--f_small);
    line-height: var(--lineaParrafo);
    max-width: 70%;
}
.video_caracteristicas{
    max-width: 52rem;
}

.video_caracteristicas img{
    width: 100%;
}
@media (max-width: 768px){
    .caracteristicas{
        width: 90%;
        grid-template-columns:1fr;
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
    }
    .informacion_caracteristicas{
        width: 70%;
        display: block;
        text-align: center;
        margin: auto;
    }
    .informacion_caracteristicas h1{
        margin: 2rem auto;
    }
    .informacion_caracteristicas p{
        margin: 2rem auto;
    }
}
/* -- SERVICIOS --  */
.servicios{
    padding: 2rem;
}
.titulo_servicios{
    width: 48.7rem;
    text-align: center;
    margin: 0  auto 2.9rem;
    padding: 2rem 0 ;
}
.titulo_servicios h1{
    font-size: 4.4rem;
    font-weight: bold;
    line-height: var(--lineaBigTitles);
    margin-bottom: 1.6rem;
}
.titulo_servicios p{
    color: var(--gris);
    font-size: var(--f_small);
}
.servicios_caracteristicas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem;
    margin-bottom: 6rem;
    /* position: relative; */
}

.fondo_servicios{
    position: absolute;
    z-index: -2;
    top: 13px;
    left: -31px;    
}
.fondo_servicios_2{
    position: absolute;
    z-index: -1;
    top: -47px;
    left: -80px;
}
.contenedor_servicios{
    position: relative;
    max-width: 27.8rem;
    height: 27rem;
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--blancoHueso);
}

.contenedor_servicios h1{
    margin-top: 5rem;
    font-size: var(--f_normal);
}
.contenedor_servicios p{
    font-size: var(--f_small);
    color: var(--gris);
}

@media (max-width: 768px){
    .servicios_caracteristicas{
     /* grid-template-columns: 1fr;
     grid-template-rows: repeat(3, 1fr); 
     align-self: center;  */
     width: 100%;
     gap: 1rem;
     margin-bottom: 2rem;
    }
    .contenedor_servicios{
        max-width: 100%;
        width: auto;
        padding: 1rem;
        height: auto;
    }
    .contenedor_servicios .fondo_servicios, .fondo_servicios_2{
        display: none;
    }
    .contenedor_servicios h1{
        font-size: 1.4rem;
        font-weight: bold;
    }
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto 1.5rem;
}